<div>
  <table mat-table [dataSource]="listado" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.product}} </td>
    </ng-container>

    <!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (swipe)=”onSwipe()” ></tr>
  </table>
</div>
<div>
  <input matInput placeholder="Producto" [formControl]="formProduct" required />
  <button mat-raised-button color="primary" (click)="addProduct()">Añadir</button>

</div>

<div>
  <a mat-raised-button color="warn" routerLink="/shops">Volver</a>
</div>